# Instance
machine_type       = "t2.micro"
disk_image         = "ami-7abd0209"
profile_public_key = "ssh-rsa AAA...XYZ== cloud.portal.tsi@ebi.ac.uk"

# AWS provider credentials
access_key         = "AKIAIEFMZFDDX5LPUGRA"
secret_key         = "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"

# Subnet
subnet_id          = "subnet-f4a1c893"
