{
  "name": "Auth env",
  "values": [
    {
      "key": "auth_64encoded",
      "value": "Basic REPLACE_ME_WITH_64BIT_ENCODED_AUTH",
      "type": "text",
      "enabled": true
    }
  ],
  "_postman_variable_scope": "environment"
}
